includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - config
    excludePaths:
        - tests/database/migrations/*
    treatPhpDocTypesAsCertain: false
